canvas{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
header{
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 0;
    position:relative;
    z-index: 100;
}
.navar1{
    width: 100%;
    height: fit-content;
    margin:auto;
    padding: 0;
    position: relative;
}
.navar1 .ar1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}
.flip{
    width: 150px;
    height: 60px;
    margin: auto;
    perspective: 1000px;
    border: rgb(255, 0, 0) solid 1px;
    text-align: center;
}
.innerflip{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.flip:hover .innerflip{
    transform: rotateY(180deg);
}
.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front{
    background-color: rgb(247, 0, 255);
}
.back{
    background-color: blue;
    transform: rotateY(180deg);
}
.boxes{
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 1em;
}
li a{
    text-decoration: none;
    color: lime;
    font-size: larger;
    font-weight: bolder;
    font-family:'Ubuntu',sans-serif;
    transition: color 2s;
}
li a:hover{
    color: black;
}