body{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: black;
    overflow: hidden;
}
canvas{
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
}