body{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: black;
  overflow: hidden;
}
.container{
  width: 50%;
  height: 100em;
  margin: auto;
  padding: 0;
  float: left;
}
#bg1{
  width: 50%;
  height: 100em;
  margin: auto;
  padding: 0;
  float: right;
}
#bg2{
  width: 50%;
  height: 100em;
  margin: auto;
  padding: 0;
  float:left;
}